<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
</head>
<body>

    <div id="app" class="container">
        <input type="text" v-model="searchInput" @keyup.enter="searchMovie">
        <button @click="searchMovie">CERCA</button>
        <ul>
            <li v-for="movie in movieList">
                <img :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="">
                <p>Titolo: {{movie.title}}</p>
                <p>Titolo originale: {{movie.original_title}}</p>
                <span>Lingua:</span> <img class="flag-language" v-if="flagList.includes(movie.original_language)" :src="'./img/' + movie.original_language + '.png'" alt="">
                <span v-else>{{movie.original_language}}</span>
                <p>Media voto: <i v-for="(star, index) in 5" :class="coloredStars(movie, index)" class="fas fa-star"></i></p>
            </li>
        </ul>
        <p>SERIE TV</p>
        <ul>
            <li v-for="series in tvList">
                <img :src="'https://image.tmdb.org/t/p/w342' + series.poster_path" alt="">
                <p>Titolo: {{series.name}}</p>
                <p>Titolo originale: {{series.original_name}}</p>
                <p>Lingua: {{series.original_language}}</p>
                <p>Media voto: <i v-for="(star, index) in 5" :class="coloredStars(series, index)" class="fas fa-star"></i></p>
            </li>
        </ul>
    </div>

    <script src="js/script.js"></script>
</body>
</html>